body {
    background-image: url(https://wallpapersite.com/images/pages/pic_w/7172.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#Produits{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-article {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    border: black;
    border-style: solid;
    border-width: 10px;
    margin: 15px;
    background-image: url(https://wallpapertag.com/wallpaper/full/c/3/f/154621-cool-cosmos-wallpaper-1920x1200-for-macbook.jpg);
    
}

.display-article img {
    display: flex;
    height: 250px;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-image: auto;
}

.display-article p {
    display: flex;
    justify-content: space-around;
    font-size: large;
    color: blanchedalmond;
    margin-left: 10px;
    margin-right: 5px;
    font-size: medium;
}

.display-article h1
{
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
}

.display-article button {
    margin: auto;
    color: black;
    font-size: medium;
}

#Lentilles {
    display: flex;
    margin: auto;
}

.cart-img
{
    margin: auto;
    width: 75px;
    height: 50px;
}

.case
{
    display: flex;
    justify-content: center;
    margin: auto;   
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    
}

.description
{
    position: relative;
    margin-right: 1em;
}



.cell
{
    border: blanchedalmond;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    color: blanchedalmond;
}

#formulaire
{
    display: flex;
    margin: auto;
    justify-content: center;
    justify-self: center;
    
}

#form
{
    padding: 10px;
    border: blanchedalmond;
    border-width: 15px;
    border-style: solid;
    background-color: black;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form p
{
    display: flex;
    margin: auto;
    padding: 5px;
    vertical-align: auto;
    justify-self: center;
}

#form h1
{
    font-weight: bold;
}

input
{
    color: #000;
}
/* Media queries mode téléphone */
@media screen and (max-width: 576px) {
    
    .cart-img
    {
        margin: auto;
        width: 37px;
        height: 25px;
    }
    
    .display-article img {
        display: flex;
        height: 125px;
        width: 200px;
        padding: 10px;
        margin: auto;
        border-image: auto;
    }
    
    .display-article p {
        display: flex;
        justify-content: space-around;
        font-size: small;
        color: blanchedalmond;
    }

    .display-article h1 {
        font-size: medium;
    }
    
    .case {
        font-size: small;
    }
    
    .description{
        margin-left: 10px;
    }
    
    
}